
form, table, tdody, tr, td, label {
    background: transparent;
}

td {
    margin-bottom: 10px;
}

label {
    font-size: 24px;
    color: #e1e1e1;
}

input:not(.input-login) {
    margin-left: 10px;
    padding: 10px 5px;
    border-radius: 15px;
    border: 0;
    color: var(--white);
    background-color: var(--light-dark);
    font-size: 18px;
    margin-bottom: 10px;
}

.input-login {
    padding: 10px 15px;
    font-size: 24px;
    border: 0;
    border-radius: 15px;
    background-color: var(--white);
    margin-top: 20px;
    cursor: pointer;
    transition: scale 1s 100ms ease-out;
}

.input-login:hover {
    transform: scale(1.1);
}

.login-title {
    font-size: 48px;
    text-align: center;
    margin: 0 30px;
}

.login-error {
    font-size: 48px;
    color: var(--red);
    margin: 0 30px;
}

.form-wrapper {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lost-password {
    font-size: 24px;
    text-decoration: none;
    color: var(--blue);
}

.lost-password-p {
    transition: scale 1s 100ms ease-in;
}

.lost-password-p:hover {
    transform: scale(1.1);
}
