/* Layout style */

* {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

img {
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

header {
    width: 100%;
    height: 88px;
    background-color: var(--light-dark);
    position: relative;
    z-index: 20;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-image {
    margin-left: 45px;
    cursor: pointer;
    transition: transform 1s ease;
}

.menu-rotate {
  transform: rotate(90deg);
}

.menu-image:hover {
    scale: 1.1;
}

.logo {
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
    z-index: 8;
}

.transparent {
    background: transparent;
}

.logo-font {
    font-size: 64px;
    margin: 0px 45px;
}

.menu-window {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    padding: 20px 0;
    background-color: var(--light-dark);
    border-top: 5px solid var(--dark);
    border-radius: 0 0 25px 0;
    position: absolute;
    z-index: 15;
    transform: translateY(-150%);
}

.menu-show {
    animation: menu-shower 1s forwards;
}

.menu-hider {
    animation: menu-hider 1s forwards;
}

@keyframes menu-shower {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

@keyframes menu-hider {
    0% {transform: translateY(0);}
    100% {transform: translateY(-150%);}
}

.menu-link {
    padding-left: 20px;
}

.menu-font {
    text-decoration: none;
    font-size: 32px;
    color: black;
}

.menu-font:hover {
    scale: 1.1;
}

.menu-separator {
    border: 1px solid var(--black);
    width: calc(100% - 40px);
    margin: 0 20px;
}

footer {
    position: relative;
}

.footer-text {
    font-size: 18px;
}

.footer-info {
    display: flex;
    border-top: 2px solid var(--light-dark);
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

.background-image {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 0;
}