
* {
    --white: #e1e1e1;
    --dark: #242424;
    --light-dark: #2C2C2C;
    --blue: #133aac;
    --purple: #3E13AF;
    --light-blue: #476BD6;
    --dark-blue: #2b4181;
    --black: #000;
    --red: #750000;
    --turquoise: #c7ede6;
    --gp-color: #4e9cfe;
}