{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title %}
Anecdotes
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/anecdotes.css' %}">
{% endblock %}

{% block wrapper %}
    <div class="anecdotes-head-block transparent">
        <span class="anecdotes-title oxanium transparent">Anecdotes</span>
        <svg id="write-an-anecdote" class="write-anecdote-svg transparent" fill="var(--white)" height="36px" width="36px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 306.637 306.637" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896 l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z"></path> <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095 L265.13,75.602L231.035,41.507z"></path> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg>
    </div>
    <div class="anecdotes-list transparent">
        {% for anecdote in anecdotes %}
            <div class="anecdote-block transparent">
                <p>{{ anecdote.title }}</p>
                {{ anecdote.text|safe }}
                <p>{{ anecdote.added }}</p>
                <img id="{{ anecdote.writer }}" class="maker-image transparent" src="/media/{{ anecdote.writer.image }}">
            </div>
        {% endfor %}
    </div>
    <form id="anecdote-form" class="form-anecdote hidden transparent" action="{% url 'anecdotes' %}" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="hidden" name="writer" id="id_writer" value="{{ request.user.pk }}">
        <button id="send-anecdote-form" type="submit">Submit!</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/anecdotes.js' %}"></script>
    <script src="{% static 'js/to_users.js' %}"></script>
{% endblock %}