{% extends 'layouts/base_layout.html' %}
{% load static %}


{% block title %}
Blog
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block audio %}
	<audio id="player" controls autoplay="autoplay">
		<source src="{% static 'audio/Derek_Pope_-_Encore.mp3' %}" type="audio/mp3">
	</audio>
{% endblock %}

{% block wrapper %}
    <span class="blog-title oxanium transparent">Blog</span>
    {% if blogs %}
        <div class="block transparent">
            {% for blog in blogs %}
                <div class="blog-block transparent">
                    <span class="blog-name oxanium transparent">{{ blog.title }}</span>
                    <div class="separator transparent"></div>
                    {{ blog.text|safe }}
                    <div class="blog-footer transparent">
                        <span class="date-added oxanium transparent">{{ blog.added }}</span>
                        <img id="{{ blog.user }}" class="maker-image transparent" src="/media/{{ blog.user.image }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <span class="no-blog-error oxanium transparent">No blogs available :(</span>
    {% endif %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.plyr.io/3.4.7/plyr.js"></script>
	<script>
		const player = new Plyr('#player');
		player.volume = 0.1;
	</script>
    <script src="{% static 'js/to_users.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}