
.presentation-title {
    font-size: 48px;
    color: var(--light-blue);
    margin: 50px 0;
}

.presentation-block {
    margin: 40px 0;
}

.main-video-border {
    border: 1px solid var(--white);
}

.video-buttons {
    font-size: 24px;
}

.video-buttons:hover {
    scale: 1.1;
}

.maker-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    position: absolute;
}

.background-video {
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    user-select: none;
}