
.profile {
    display: flex;
    width: 800px;
}

.avatar-block {
    margin-right: 50px;
}

.user-picture {
    width: 350px;
    border-radius: 180px;
}

.information-block {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.full-name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name {
    font-size: 48px;
    color: var(--white);
}

.profile-tag {
    font-size: 36px;
    color: var(--blue);
}

.hider-add-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator {
    width: calc(100% - 24px);
    height: 0;
    border: 1px solid var(--light-blue);
}

.underline {
    width: 100%;
    height: 0;
    border: 1px solid var(--light-blue);
}

.svg-arrow-down {
    cursor: pointer;
    transition: rotate 100ms 100ms linear;
}

.svg-arrow-rotated {
    rotate: 180deg;
}

.additional-information {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    animation: add-info-show 1s forwards;
    overflow: hidden;
}

.additional-information.add-info-show {
    display: flex;
}

@keyframes add-info-show {
    0% {
        height: 0;
    }

    100% {
        height: 50%;
    }
}

.profile-text {
    font-size: 20px;
    color: var(--light-blue);
    margin: 10px 5px 10px 0;
    display: flex;
}

.default-text {
    font-size: 18px;
    color: var(--white);
    margin: 10px 5px 10px 0;
    display: inline-flex;
}

.bool-add-info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profile-value-text {
    color: var(--turquoise);
}

.profile-form {
    align-self: center;
}

.profile-form {
    text-align: center;
    margin: 20px 0;
}

.button {
    padding: 5px 20px;
    border: 0;
    border-radius: 25px;
    font-size: 24px;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--light-dark);
    cursor: pointer;
}

.button:hover {
    scale: 1.1;
}

.form-upload-song {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    margin-top: 10px;
    border: 1px solid var(--light-blue);
    border-radius: 20px;
}

.form-text {
    font-size: 20px;
    color: var(--light-blue);
    margin: 10px 5px 10px 0;
}

.song-upload-input {
    color: var(--white);
    padding: 0.5em 0;
}

::file-selector-button {
    font-weight: bold;
    color: var(--white);
    background-color: var(--light-dark);
    padding: 0.5em;
    border: thin solid var(--black);
    border-radius: 3px;
    cursor: pointer;
}

.send-an-music-form-button {
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: var(--light-blue);
    font-size: 24px;
    cursor: pointer;
}


.current-song-block {
    flex-direction: column;
    align-items: flex-start;
}

.small-font {
    font-size: 16px;
}